<% include ../common-en_us/header.ejs %>
Hello,

You have been invited to become a parent/guardian of <%=childName%>, click <a href="<%=link%>">here</a> to accept.

<% include ../common-en_us/footer.ejs %>