<% include ../common-en_US/header.ejs %>

<h1>Hi <%=parentName%></h1>

<p>You have been invited to become a parent/guardian of <b><%=childName%></b>.</p>
<p>To approve this request, please click the following link <a href="<%=link%>"><%=link%></a></p>

<% include ../common-en_US/footer.ejs %>