<% include ../common-en_US/header.ejs %>

<h1>Hi <%=name%>,</h1>

<p>We have received a request to reset your password.</p>

<p>Please follow the link below to reset your password.</br>
<a href="<%=resetlink%>"><%=resetlink%></a></p>

<p>If you didn’t make this request, please disregard this email.</p>


<p>Best wishes,</br>
The CoderDojo Foundation Team</p>

<% include ../common-en_US/footer.ejs %>