<% include ../common-en_US/header.ejs %>

<h1>Hi <%=name%></h1>

<p>Thanks for joining Zen, the CoderDojo community platform!</p>

<p>Here are some cool things you could check out:
  <ul>
    <li><a href="http://forums.coderdojo.com">Forum</a></li>
    <li><a href="http://zen.coderdojo.com/badges">Badges</a></li>
    <li>Ticketing</li>
  </ul>
</p>

<p>If you are having any issues with Zen or would like to give feedback please feel free to contact info@coderdojo.com for support at any time.</p> 

<p>Best wishes,</p>
<p>The CoderDojo Foundation Team</p>


<% include ../common-en_US/footer.ejs %>