<% include ../common-en_us/header.ejs %>

<h1>Hello <%=name%>!</h1>
<p>Welcome to the CoderDojo Community Platform. To get started, please visit <a href="<%=link%>"><%=link%></a></p>

<% include ../common-en_us/footer.ejs %>