<% include ../common-it_IT/header.ejs %>

<h1>Ciao <%=name%>!</h1>
<p>Benvenuti alla Comunità piattaforma CoderDojo . Per iniziare , si prega di visitare il sito <a href="<%=link%>"><%=link%></a></p>

<% include ../common-it_IT/footer.ejs %>