<% include ../common-en_us/header.ejs %>

<h1>Ciao <%=name%>!</h1>
<p>Benvenuti alla piattaforma CoderDojo comunità. Per iniziare, si prega di visitare <a href="<%=link%>"><%=link%></a></p>

<% include ../common-en_us/footer.ejs %>