<% include ../common-de_DE/header.ejs %>
Hello,

You have been invited to become a parent/guardian of <%=childName%>, click <a href="<%=link%>">here</a> to accept.
<% include ../common-de_DE/footer.ejs %>