<% include ../common-en_us/header.ejs %>
Ciao, sei stato invitato a diventare un genitore/tutore di <%=childName%>, fare clic su <a href="<%=link%>">qui</a> per accettare.

<% include ../common-en_us/footer.ejs %>